.idea
.vscode
.DS_Store
.npm
.env
npm-debug.log
node_modules
app
examples/jest-image-snapshot-example/tmp/puppeteerEndpoint
examples/muppeteer-example/tests/**/report
examples/muppeteer-example/tests/**/screenshots/**/*-diff.png
examples/muppeteer-example/tests/**/screenshots/**/*-current.png
examples/jest-image-snapshot-example/tests/**/screenshots/__diff_output__
.nyc_output
coverage/
report/