.idea
.vscode
.DS_Store
.npm
.env
npm-debug.log
node_modules
app
examples/jest-puppeteer-image-snapshot/tmp/puppeteerEndpoint
examples/muppeteer/tests/**/report
examples/muppeteer/tests/**/screenshots/**/*-diff.png
examples/muppeteer/tests/**/screenshots/**/*-current.png
examples/jest-puppeteer-image-snapshot/tests/**/screenshots/__diff_output__
.nyc_output
coverage/
report/
lerna-debug.log