.idea
.vscode
.DS_Store
.npm
.env
npm-debug.log
node_modules
app
examples/jest-image-snapshot-example/tmp/puppeteerEndpoint
examples/jest-image-snapshot-example/tests/screenshots
examples/muppeteer-example/tests/screenshots
examples/muppeteer-example/tests/report