.panel {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.panel-heading {
    color: #fff;
    background-color: #437bad;
    padding: 10px;
    border-bottom: 1px solid transparent;
}

.panel-heading:after {
    content: "";
    display: table;
    clear: both;
}

.panel-icon {
    float: left;
    margin-left: 2px;
    margin-top: 4px;
}

.panel-heading svg {
    height: 20px;
    width: 20px;
}

.panel-body {
    font-size: 14px;
    padding: 10px;
}

.panel-title {
    float: left;
    margin: 2px 0 0 16px;
    font-size: 18px;
}