.panel {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.panel-heading {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #437bad;
    padding: 10px;
    border-bottom: 1px solid transparent;
}

.panel-icon {
    position: relative;
    top: 2px;
}

.panel-heading svg {
    height: 20px;
    width: 20px;
}

.panel-body {
    font-size: 14px;
    padding: 10px;
}

.panel-title {
    margin: 0 0 0 16px;
    font-size: 18px;
}
